.iconos{
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-between;
    align-items: center;    
}

img{
    width: auto;
    height: 30px;
}

.input {
    width: 500px;
    height: 20px;
    left: 0;
    background-color: transparent;
    border-left: none;
    border-top: none;
    border-right: none;
    border-width: 2px;
    border-color: white;
    color: white;
}

.box {
    display: flex;
    margin-right: 0px;
    width: 200px;
    height: 50px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
}

